
*{
    margin: 0px;
    padding: 0px;
}
div#capsalera{
    margin: auto;
    width: 100%;
    height: 38px;
    font-family: fantasy;

}
ul,ol{
 list-style: none; /* Treu els punts dels elements del menu*/
}
.nav li a{
    background-color: black;
    color: white; /*color lletra*/
    text-decoration: none; /* treu subrallat */
    padding: 10px 15px; /* relleno a les casellas*/
    display: block; /* fa que cada element ocupi una linia */
    min-width: 140px;
}
.nav li{
    width: 20%;
}
.nav>li{
    float: left;
}
.nav li a:hover{
    background-color: darkgrey;
    cursor: pointer;
}
.nav li ul{
    display: none;
    position: absolute;
    width: 280px;
    margin-right: -255px;
}
.nav li:hover>ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top: 0px;
}


article{
 margin: 15px auto;

 background-color: floralwhite;
 width:800px;
 height:300px;
 border: 3px solid burlywood;
 text-align: justify;
}

p{
 padding: 10px;
}

img{

height: 200px;
padding:15px;
background-color: white;
transition: background-color 0.5s;
box-shadow: inset 0px 0px 10px #565656;
margin:15px;
float: left;
}

.foot p {

}

.foot {
    display: block;
    margin: auto;
    position: relative;
    padding: 5px;
}

